# Ejercicio

Obtener la versión de la librería pandas.

In [37]:
import pandas as pd
pd.__version__

'1.3.4'

# Ejercicio

Crear y visualizar un arreglo unidimensional que contenga 10 nros. entre 1 y 100 como una estructura Series.

Obtener el tamaño de la lista

In [50]:
import numpy as np
import pandas as pd

arr = [1, 2, 3, 4, 0, 5, 6, 7, 8, 9]
arr1 = np.array(arr, ndmin=1)
s = pd.Series(arr1)

print(s)
print(s.size)

0    1
1    2
2    3
3    4
4    0
5    5
6    6
7    7
8    8
9    9
dtype: int32
10

# Ejercicio

Aplicar las operaciones aritméticas básicas sobre una serie y un nro.

"*,/,+/-"  tambien ==>  "><= distinto"

In [59]:
import pandas as pd

datos = [9, 10, 86, 45, 61, 7]
s = pd.Series(datos)
suma = s + 1
print('suma', suma)
resta = s - 8
print('resta', resta)
multi = s * 5
print('multiplicación', multi)
divi = s / 3
print('división', divi)
dif = s == 86
print('distinto', dif)

suma 0    10
1    11
2    87
3    46
4    62
5     8
dtype: int64
resta 0     1
1     2
2    78
3    37
4    53
5    -1
dtype: int64
multiplicación 0     45
1     50
2    430
3    225
4    305
5     35
dtype: int64
división 0     3.000000
1     3.333333
2    28.666667
3    15.000000
4    20.333333
5     2.333333
dtype: float64
distinto 0    False
1    False
2     True
3    False
4    False
5    False
dtype: bool

# Ejercicio

Aplicar las operaciones aritméticas básicas sobre dos  Series o más.

"*,/,+/-"

In [62]:
import pandas as pd

datos1 = [9, 10, 86, 45, 61, 7]
datos2 = [8, 7, 6, 54, 90, 3]
s1 = pd.Series(datos1)
s2 = pd.Series(datos2)

suma = s1 + s2
print('suma', suma)
resta = s1 - s2
print('resta', resta)
multi = s1 * s2
print('multiplicación', multi)
divi = s1 / s2
print('división', divi.round(2))

suma 0     17
1     17
2     92
3     99
4    151
5     10
dtype: int64
resta 0     1
1     3
2    80
3    -9
4   -29
5     4
dtype: int64
multiplicación 0      72
1      70
2     516
3    2430
4    5490
5      21
dtype: int64
división 0     1.12
1     1.43
2    14.33
3     0.83
4     0.68
5     2.33
dtype: float64

# Ejercicio 

Preocupese de Que funcione


arreglo = np.array([2, 3, 5, 7, 11])

serie = pd.Series(arreglo)

datos = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

serie = pd.Series(datos)

In [64]:
arreglo = np.array([2, 3, 5, 7, 11])

serie1 = pd.Series(arreglo)

datos = {'a': 10, 'b': 20, 'c': 30, 'd': 40}

serie2 = pd.Series(datos)

print('serie 1', serie1)
print('serie 2', serie2)

serie 1 0     2
1     3
2     5
3     7
4    11
dtype: int32
serie 2 a    10
b    20
c    30
d    40
dtype: int64

# Ejercicio 

Obtener una columna de un objeto DataFrame como un objeto Series.

datos = {'A': [1, 2, 3, 4, 5], 'B': [9, 8, 7, 6, 5], 'C': [2, 3, 5, 7, 11]}

df = pd.DataFrame(data=datos)

In [103]:
import pandas as pd
datos = {'A': [1, 2, 3, 4, 5], 'B': [9, 8, 7, 6, 5], 'C': [2, 3, 5, 7, 11]}

df = pd.DataFrame(data=datos)

salida = df['A']
print(salida)

<class 'pandas.core.series.Series'>

# Ejercicio 

Crear un DataFrame

Extraer una fila de un DataFrame como un objeto Series.

In [113]:
import pandas as pd
import numpy as np

datos = {'A': [1, 2, 3, 4, 5, 9, 10], 'B': [9, 8, 7, 6, 5, 7, 6], 'C': [2, 3, 5, 7, 10, 11, 4]}

df = pd.DataFrame(data=datos)
arr = pd.Series(df.iloc[3].values)

print(arr)

<class 'pandas.core.series.Series'>

# Ejercicio

Crear el Objeto, y luego transformaro a una sola fila

0    [Colombia, Perú, Argentina]

1             [Bolivia, Uruguay]

2                        [Chile]

In [132]:
#import numpy as np
import pandas as pd

datos = {0: ['Colombia', ' Perú','Argentina'], 1: ['Bolivia', 'Uruguay'], 2: ['Chile']}
#datos = {[['Colombia', ' Perú','Argentina'], ['Bolivia', 'Uruguay'], ['Chile']], [0, 1, 2]}  
data_items = datos.items()
data_list = list(data_items)

df = pd.DataFrame(data_list)

fila = df.iloc[:,1]
print(fila)

0    [Colombia,  Perú, Argentina]
1              [Bolivia, Uruguay]
2                         [Chile]
Name: 1, dtype: object

# Ejercicio

Ordenar los valores de un objeto Series

datos = ['1.1', 'Python', '0.5', 'pandas', '2.8']

serie = pd.Series(datos)

In [133]:
datos = ['1.1', 'Python', '0.5', 'pandas', '2.8']

serie = pd.Series(datos)
ordenada = serie.sort_values(ascending = True)

print(ordenada)

2       0.5
0       1.1
4       2.8
1    Python
3    pandas
dtype: object

# Ejercicio

Crear un objeto Series a partir de un filtro aplicado a otro objeto Series.
datos = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

serie = pd.Series(datos)

Obtener los menores a 5

In [134]:
datos = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
serie = pd.Series(datos)

serie_nueva = serie[serie < 5]

print(serie_nueva)

0    0
1    1
2    2
3    3
4    4
dtype: int64

# Ejercicio

Obtener la desviación estándar, el promedio, maximo,minimo, sum de un conjunto de datos de una serie.

Invente la data usted

obtenga la info y el describe

In [137]:
datos = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
serie = pd.Series(datos)

print('desviación estándar', serie.std())
print('promedio', serie.mean())
print('máximo', serie.max())
print('mínimo', serie.min())
print('suma', serie.sum())

desviación estándar 3.0276503540974917
promedio 4.5
máximo 9
mínimo 0
suma 45

## Ejercicio

Obtener dos objetos diferentes con los elementos pares e impares de un objeto Series numérico.

datos = list(range(10))

In [139]:
datos = list(range(10))
serie = pd.Series(datos)

pares = serie[serie % 2 == 0]

print('pares', pares)

impares = serie[serie % 2 == 1]

print('impares', impares)

pares 0    0
2    2
4    4
6    6
8    8
dtype: int64
impares 1    1
3    3
5    5
7    7
9    9
dtype: int64

# Ejercicio 

Eliminar los valores NaN de una serie con el método dropna.

datos = ['2.3', 'Python', '90', '100', np.nan, '0.5', '.9']

In [145]:
import pandas as pd

datos = ['2.3', 'Python', '90', '100', np.nan, '0.5', '.9']
datos1 = pd.Series(datos)
datos_clean = datos1.dropna()
print(datos_clean)

0       2.3
1    Python
2        90
3       100
5       0.5
6        .9
dtype: object