In [23]:
import pandas as pd
import numpy as np
import sklearn.preprocessing as preprocessing

nuevo = pd.read_csv("nyr_data.csv")

#observamos los datos generales de la base
nuevo.describe()

       Accomplished 2021  Expecting to accomplish 2022
count           7.000000                     16.000000
mean            3.714286                      3.562500
std             0.951190                      1.152895
min             2.000000                      1.000000
25%             3.500000                      3.000000
50%             4.000000                      4.000000
75%             4.000000                      4.000000
max             5.000000                      5.000000

In [9]:
#obtenemos el nombre de las variables del set de datos
print(nuevo.columns)

Index(['State', 'Gender', 'Had 2021', '2021 category', 'Accomplished 2021',
       'Have 2022', '2022 category', 'Expecting to accomplish 2022',
       'Expecting to fail 2022', 'Generation'],
      dtype='object')

In [21]:
nuevo.head(5)

,State,Gender,Had 2021,2021 category,Accomplished 2021,Have 2022,2022 category,Expecting to accomplish 2022,Expecting to fail 2022,Generation
0,TX,Male,Don't remember,NaN,NaN,Yes,Self improvement,4.0,No,Generation Z
1,NC,Female,No,NaN,NaN,No,NaN,NaN,NaN,Millenials
2,CA,Male,Yes,School,4.0,No,NaN,NaN,NaN,Generation Z
3,OR,Female,Yes,Health,4.0,Yes,Career,5.0,No,Generation Z
4,TX,Male,Yes,Family,5.0,Yes,Career,4.0,No,Generation X

In [22]:
#revisamos el tamaño del dataframe
print(nuevo.shape)

(27, 10)

<h4> Diseño metodológico </h4>
Podemos notar que el dataset solo tiene variables str porque en todas encontramos valores perdidos.
El procedimiento sería el siguiente:
    1. Aislar las variables que vamos a utilizar
    2. Eliminar valores perdidos de esas variables (se podría imputar, pero la base es muy pequeña (n=27)
    3. Recodificar las variables en variables categoriales numéricas
Dado el tipo de variable, exploraremos si hay alguna correlación entre el estado de origen y la categoría de la meta propuesta en 2021

In [32]:
#Construir un dataframe con las variables que necesitamos


analisis = pd.DataFrame(nuevo.iloc[:,[0,3]])

In [53]:
#Eliminar valores perdidos

analisis_limpia = analisis.dropna()
print(analisis_limpia.shape)
print(analisis_limpia)

(7, 2)
   State     2021 category
2     CA            School
3     OR            Health
4     TX            Family
5     MD  Self improvement
6     AK             Money
20    MA  Self improvement
22    HI            Health

In [52]:
def set_values(row, value):
    return value[row]
   
map_dictionary ={"WA" : 0,
                 "OR" : 0,
                 "CA" : 0,
                 "MT" : 0, 
                 "ID" : 0, 
                 "WY" : 0, 
                 "UT" : 0, 
                 "NV" : 0, 
                 "AZ" : 0, 
                 "NM" : 0, 
                 "CO" : 0,
                 "AK" : 0, 
                 "HI" : 0,
                 "TX" : 1,
                 "MD" : 1,
                 "MA" : 1} 
   
analisis_limpia["Zona"] = analisis_limpia["State"].apply(set_values, args =(map_dictionary, )) 

print(analisis_limpia)

   State     2021 category  Zona
2     CA            School     0
3     OR            Health     0
4     TX            Family     1
5     MD  Self improvement     1
6     AK             Money     0
20    MA  Self improvement     1
22    HI            Health     0

C:\Users\Public\Documents\Wondershare\CreatorTemp/ipykernel_14844/2167762627.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  analisis_limpia["Zona"] = analisis_limpia["State"].apply(set_values, args =(map_dictionary, ))

In [49]:
conditionlist = [
    (analisis_limpia["State"] = "WA" 
     or "OR" 
     or "CA" 
     or "MT" 
     or "ID" 
     or "WY" 
     or "UT" 
     or "NV" 
     or "AZ" 
     or "NM" 
     or "CO" 
     or "AK" 
     or "HI"),
    (analisis_limpia['State'] = else),

]
choicelist = ["0", "1"]
analisis_limpia["Zona"] = np.select(conditionlist, choicelist, default='Not Specified')

SyntaxError: invalid syntax (CreatorTemp/ipykernel_14844/1505416884.py, line 2)

In [44]:
zona = analisis_limpia["State"]
for n in zona:
    0 == "WA", "OR", "CA", "MT", "ID", "WY", "UT", "NV", "AZ", "NM", "CO", "AK", "HI"
print(zona)

2     CA
3     OR
4     TX
5     MD
6     AK
20    MA
22    HI
Name: State, dtype: object