<h1> Procesamiento de variables categóricas </h1>

In [1]:
import pandas as pd
df = pd.read_csv("cars.csv")

In [6]:
#vamos a recodificar la variable engine_type para hacerla nominal, pero numérica
#se puede comparar la tabla con la variable en bruto y la transformación que hace get_dummies
print(df["engine_type"])
pd.get_dummies(df["engine_type"])

0        gasoline
1        gasoline
2        gasoline
3        gasoline
4        gasoline
           ...
38526    gasoline
38527      diesel
38528    gasoline
38529    gasoline
38530    gasoline
Name: engine_type, Length: 38531, dtype: object

       diesel  electric  gasoline
0           0         0         1
1           0         0         1
2           0         0         1
3           0         0         1
4           0         0         1
...       ...       ...       ...
38526       0         0         1
38527       1         0         0
38528       0         0         1
38529       0         0         1
38530       0         0         1

[38531 rows x 3 columns]

Ahora usaremos el método onehot en vez del método dummy para hacer la misma recodificación de la variable en variable numérica. El método onehot lo que hace es asignar a cada categoría una serie de valores 1 y 0 en vez de un solo valor de 1 o 0

In [7]:
import sklearn.preprocessing as preprocessing

In [9]:
encoder = preprocessing.OneHotEncoder(handle_unknown = "ignore")

In [10]:
encoder.fit(df[["engine_type"]]) #se ajusta al encoder para la categoría 
#[] trata al resultado como una serie, [[]] lo recupera como un dataframe

OneHotEncoder(handle_unknown='ignore')

In [11]:
encoder.transform([["gasoline"],["diesel"],["water"]]).toarray()

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 0.]])